header{
    background-image: url("../images/dinner-image.jpg");
    background-size: cover;
    
}


.row{
    text-align: left;

}
.input-field label {
    color: white;
}
.datepicker{
    color: white;
}
.picker__date-display {
    background-color:darkred;
}
.picker__weekday-display {
    background-color:darkred;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    background-color:darkred;
}
h1{
    text-align: center;
    color: white;
}

.btn{
    background-color: darkred;
}

.btn:hover{
    background-color: tan;
}


  